@tailwind base;
@tailwind components;
@tailwind utilities;

#middle {
  background-image: url(/public/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
}

#quote {
  background-image: url(/public/images/icon-security.svg);
  background-repeat: no-repeat;
}
